/.ddev
/.fleet
/.idea
/.vscode
/build
/coverage
/docs
/node_modules
/vendor
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
composer.lock
composer.phar
npm-debug.log
phpstan.neon
phpunit.xml
testbench.yaml
yarn-error.log
